h1
 {
  color: #670066;
  text-align: center;
   font-size: 2.5em;
 }
 h2 
 {
  color: #670066;
text-align: center;
   font-size: 2em;
 }
 .pinicio
 {
    color: #7a7a7a;
 justify-self: center;
      font-size: 1.5em;
      margin: 0.5rem 0;
 }
.caps-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
 .cap-item
{
 background-color: #fff;
  border: 4px solid #ff90ff;
  border-radius: 15px;
  box-shadow: 0 4px 15px #670066;
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
   flex: 0 0 20%; /*ancho de tarjetas para "salto de linea" gap para el espacio que hay entre las tarjetas*/
   gap: 50%;
}
 .cap-item:hover
 {
    transform: scale(1.05);
 }
 .verdetalle
 {
   width: 100%;
    text-align: center;
 background-color:white ;
    color:#7A7A7A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ff90ff;
    text-decoration: none;
    display: flex;
    padding: 12px 20px;
    display: inline-block;
 }
 .verdetalle:hover
 {
    border-color:#ff90ff;
      background-color: #fcccfc;
  transition: background-color 0.7s ease;
 }
/* Tablets (pantallas medianas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .cap-item {
    flex: 0 0 45%;   /* 2 tarjetas por fila */
    max-width: 400px;
  }
}

/* Celulares grandes (pantallas chicas) */
@media (min-width: 481px) and (max-width: 768px) {
  .cap-item {
    flex: 0 0 100%;  /* 1 tarjeta por fila */
    max-width: 100%;
  }
}

/* Celulares muy pequeños */
@media (max-width: 480px) {
  .cap-item {
    flex: 0 0 100%;  /* Ocupa todo el ancho */
    max-width: 100%;
    padding: 15px;
  }

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.2em; }
}