 .cap-list{
  max-width: 30%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20%;
 }
 .cap-item
{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px #670066;
  padding: 20px;
  margin: 15px;
  max-width: 300px;
  max-height: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border: 4px solid #ff90ff;
 }
 .cap-item:hover
 {
    transform: scale(1.05);
 }
 h1
 {
text-align: center;
   font-size: 2.5em;
 }
 h2 
 {

text-align: center;
   font-size: 2em;
 }
   .pinicio
   {
      color: #7A7A7A;
      text-align: center;
      font-size: 1.5em;
      margin: 0.5rem 0;
   }
 p
 {
   color: #670066;
text-align: center;
   font-size: 1.5em;
 }
 .verdetalle
 {
 background-color:white ;
    color:#7A7A7A;
    border: none;
    padding: 0.7rem;
    width: 48%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
    border: 1px solid #ff90ff;
    text-decoration: none;
 }
 .verdetalle:hover
 {
    border-color:#ff90ff;
      background-color: #d5c4d9;
  transition: background-color 0.3s ease;
 }
 