
 .titulo-inicio
 {
  color: #670066;
  text-align: center;
   font-size: 2.1em;
 }
 h2 
 {
  color: #670066;
text-align: center;
   font-size: 2em;
 }
.contenedor-informacion,.contenedor-objetivo,.contenedor-campaña
{
    color: #7a7a7a;
   justify-items: center;
      font-size: 1.5em;
      margin: 0.5rem 0;
}
 .imagen-caps
 {
width: 18%;
height: 18%;
border-radius: 60px;
margin: 0 auto;
float: inline-end;
position: relative;
display: flex;
 }
.campañas
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.imgcampania
{
  height: 20%;
  width: 16%;
  border: 3px solid #670066;
padding: 15px;
}
.lista
{
color: #7A7A7A;
      font-size: 1.5em;
      margin: 0.5rem 0;
}
/* Pantallas grandes (PC de escritorio) */
@media (min-width: 1025px) {
  .cap-item {
    flex: 0 0 20%;   /* 5 tarjetas por fila aprox */
    max-width: 250px;
  }
}

/* Tablets (pantallas medianas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .cap-item {
    flex: 0 0 45%;   /* 2 tarjetas por fila */
    max-width: 400px;
  }
}

/* Celulares grandes (pantallas chicas) */
@media (min-width: 481px) and (max-width: 768px) {
  .cap-item {
    flex: 0 0 100%;  /* 1 tarjeta por fila */
    max-width: 100%;
  }
}

/* Celulares muy pequeños */
@media (max-width: 480px) {
  .cap-item {
    flex: 0 0 100%;  /* Ocupa todo el ancho */
    max-width: 100%;
    padding: 15px;
  }
}